<div class="container py-4">
  <h1 *ngIf="cargado" class="text-center pt-4"><fa-icon size="5x" rotate="90" [spin]="true" [icon]="spiner"></fa-icon></h1>
  <div class="row">
    <div
      class="card border-primary col-md-4 col-sm-6 col-12 mb-3"
      *ngFor="let empleado of empleados"
    >
      <div class="card-header">Empleado</div>
      <div class="card-body">
        <h4 class="card-title">{{ empleado.nombres }}</h4>
        <p class="card-text">
          {{ empleado.email }}
        </p>
        <p class="card-text">{{ empleado.role }}</p>
        <p class="card-text">{{ empleado.telefono }}</p>
        <p class="alert alert-primary" *ngIf="empleado.estado" >Esta habilitado</p>
        <p class="alert alert-danger" *ngIf="!empleado.estado" >Esta deshabilitado</p>
      </div>
    </div>
  </div>
</div>
